#mainImage {
width:100%;
height:50%;
}

.main-header {
  text-align: center;
}

.title-bar {
padding:0.5em;
background: rgba(214, 223, 255, 1);
display:inline-block;
}

.awesome {
display: block;
margin: 0 auto;
}

.about{
font-family: 'Oswald', sans-serif;
}

a, p, li, ul {
font-family: 'Open Sans', sans-serif;
list-style-type: none;
}
 strong, b {
 font-weight:bold;
 }

p {
	padding:10px;
}
a:link {
  color:#2847B2;
  text-decoration:none;
}
a:hover {
  color: #839FFF;
  text-decoration:none;
}
a:active {
  color: #FFE7A9;
  text-decoration:none;
}
a:visited {
  color: #B29956;
  text-decoration:none;
}

.linkedit {
  margin: auto;
}

header, h1, h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;
}

header {
font-size: 300%;
}

header, h1, h2, h4, h6 {
 text-align:center;
}

.gutter {
    background-color: #FFFFFF;
 }

script {
text-align:center;
position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
