#mainImage {
width:100%;
height:50%;
}

.office {
padding:20px;
}

.main-header {
  text-align: center;
}

ul, li {
display:inline-block;
text-align:center;
}

p.bigger {
font-size: 120%;
font-weight: bold;
}

.title-bar {
width: 100%;
padding:0px;
background: rgba(214, 223, 255, 1);
display:inline-block;
text-align: center;
}

.title-heading {
/*<<<<<<< HEAD*/
margin-top: 45px;
}

.title-heading-m {
margin-top: 55px;
}

.title-heading-p {
margin-top: 35px;
/*=======*/
margin-top: 60px;
>>>>>>> origin/master
}

.awesome {
display: block;
margin: 0 auto;
}

.about{
font-family: 'Crete Round', sans-serif;
}

a, p, li, ul {
font-family: 'Open Sans', sans-serif;
list-style-type: none;
margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
	padding:10px;
  color: #000000;
}
a:link {
  color:#2847B2;
  text-decoration:none;
}
a:hover {
  color: #839FFF;
  text-decoration:none;
}
a:active {
  color: #FFE7A9;
  text-decoration:none;
}
a:visited {
  color: #B29956;
  text-decoration:none;
}

.linkedit {
  margin: auto;
}

header, h1, h2, h3, h4, h5, h6 {
font-family: 'Crete Round', serif;
font-weight: bold;
text-align:center;
}

header {
font-size: 300%;
}

.gutter {
    background-color: #FFFFFF;
 }

script {
text-align:center;
position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/** CSS for dropdown NAV **/
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1px 24px 0px 1px;
    text-decoration: none;
}

/* li a:hover, .dropdown:hover .dropbtn {
    background-color: #2847B2;
} */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2847B2;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  color: #839FFF;
  text-decoration:none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/** CSS for dropdown NAV **/
